@using ToDoList.Models
@model ToDoList.ViewModels.AllTasksViewModel
@{
    ViewBag.Title = "List of the Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}  

<h2>Tasks List:</h2>
<p>
    <strong>@Html.ActionLink("Create a New Task", "New", "Tasks")</strong>
</p>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>
            Description
        </th>
        <th>
            Due Date & Time
        </th>
        <th>
            Classification
        </th>
        <th>
            Status
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (ToDoTask task in Model.Tasks)
    {
        <tr>
            <td>
                @Html.ActionLink(@task.Description, "Info", "Tasks", new { id = @task.Id }, null)
            </td>
            <td>
                @task.DueDateTime
            </td>
            <th>
                @task.Classification.Name
            </th>
            <th>
                @task.Status
            </th>
            <th>
                @Html.ActionLink("Edit","Edit","Tasks", new { id = @task.Id }, null)
            </th>
            <th>
                @Html.ActionLink("Delete","Delete","Tasks", new { id = @task.Id }, null)                
            </th>
        </tr>
    }

    
    </tbody>
</table>

