<<<<<<< HEAD
﻿@model ToDoList.Web.ViewModels.UserViewModel
=======
﻿@model ToDoList.Models.DTO.UserAndRoleDTO
>>>>>>> dev
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
<h2>View</h2>
@*@Html.LabelFor(m => m.UserDto.Name): @Model.UserDto.Name*@
<br />
@Html.LabelFor(m => m.UserDto.Email): @Model.UserDto.Email
<br />
    @Html.LabelFor(m => m.UserDto.Role): @Model.UserDto.Role
<br />
@Html.LabelFor(m => m.UserDto.UserName): @Model.UserDto.UserName
=======
<h2>Task Information</h2>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            @Model.Id
        </td>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Email
        </td>
        <th>
            @Model.Role
        </th>
    </tr>
    </tbody>
</table>

>>>>>>> dev
